{% extends "base.html" %}

{% block content %}
  {% load static %}

  <head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>

  <div class="container">

    <h1>СПОРТИВНЫЙ МАССАЖ</h1>
    <h2>2000 Р / 1 ЧАС</h2>
    <h3>
      Спортивный массаж — это не только удовольствие, но и эффективное средство для поддержания физической формы и здоровья.
      Независимо от того, являетесь ли вы профессиональным спортсменом или просто предпочитаете активный образ жизни,
      спортивный массаж может стать вашим верным помощником в достижении лучших результатов и поддержании отличного самочувствия
    </h3>
    <p></p>

    <h1>МАССАЖ СПИНЫ</h1>
    <h2>500 Р / 30 МИН</h2>
    <h3>
      Глубокий, в то же время расслабляющий массаж.
      Усиливает циркуляцию крови и снимает напряжение в мышцах.
    </h3>
    <p></p>

    <h1>ШЕЙНО-ВОРОТНИКОВАЯ ЗОНА</h1>
    <h2>400 Р / 30 МИН</h2>
    <h3>
      Этот массаж направлен на снятие напряжение с уставших плеч.
      Устраняет зажимы и улучшает приток крови.
      Избавляет от головной боли и бессонницы.
    </h3>
    <p></p>

    <h1>МАССАЖ НОГ</h1>
    <h2>800 Р / 30 МИН</h2>
    <h3>
      Воздействие на рефлекторные точки стоп улучшает состояние здоровья, укрепляет тело и внутренние органы.
      Снимает напряжение с уставших ног.
    </h3>
    <p></p>

    <h1>МАССАЖ РУК</h1>
    <h2>500 Р / 30 МИН</h2>
    <h3>
      Массаж помогает: снять болевые ощущения в суставах, избавиться от усталости, повысить работоспособность, восстановить силы,
      улучшить кровообращение, нормализировать обмен веществ. Кроме того, массаж рук очень хорошо расслабляет и успокаивает,
      поэтому обеспечивает крепкий и здоровый сон.
    </h3>
    <p></p>

    <h1>МАССАЖ ЖИВОТА</h1>
    <h2>400 Р / 15 МИН</h2>
    <h3>
      Массаж живота благотворно влияет на состояние кожи, улучшает работу органов пищеварения и способствует похудению.
    </h3>
    <p></p>

    <h1>МАССАЖ ГРУДНОЙ ОБЛАСТИ</h1>
    <h2>400 Р / 15 МИН</h2>
    <h3>
      Лечебный массаж грудной клетки обладает общеукрепляющим, оздоравливающим, расслабляющим эффектом, позволяет расслабить мышцы, улучшить кровоснабжение органов грудной клетки,
      снять болевой синдром.
    </h3>
    <p></p>

    <h1>РЕЛАКС МАССАЖ</h1>
    <h2>2000 Р / 2 ЧАСА</h2>
    <h3>
      Классический массаж полезен: при частых головных болях, для снятия утомления и стресса, если наблюдается нарушение сна, в качестве реабилитации после травм,
      как способ повысить тонус и настроение, для облегчения симптомов остеохондроза, когда надо убрать отек, зуд, покалывание,
      при недостаточной гибкости суставов и связок, в составе комплекса мер по борьбе с лишним весом.
    </h3>
    <p></p>

    <h1>МАССАЖ ГОЛОВЫ</h1>
    <h2>300 Р / 15 МИН</h2>
    <h3>
      Глубокий и в то же время расслабляющий массаж.
      Усиливает циркуляцию крови и снимает напряжение в мышцах.
    </h3>
    <p></p>

    <h1>МАССАЖ ЛИЦА</h1>
    <h2>300 Р / 15 МИН</h2>
    <h3>
      Массаж лица повышает упругость кожи, снимает отёчность, оказывает тонизирующее действие на мышечный каркас, улучшает цвет лица и разглаживает мелкие морщинки.
    </h3>
    <p></p>

  </div>

{% endblock %}